canvas {
    background-color: black;
    width: 800px;
    height: 500px;
    border: orangered 5px solid;
}

#player_up, #player_right, #player_down, #player_left, #enemy_up, #enemy_right, #enemy_down, #enemy_left {
    display: none;
}

.container {
    text-align: center;
    margin-top: 30px;

}